<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text darken-4">Paul R. Duca</h1>
      <div class="row center">
        <h5 class="header col s12 light">Full-Stack Software Engineer with a diverse background</h5>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"> <img src="/images/background1.png" alt="Unsplashed background img 1"/></div>
</div>


<div class="container">
  <div class="section">
    <h3 class="center"><%= link_to "Resume PDF", asset_path("PaulDucaResume.pdf")%></h3>
    <!--   Icon Section   -->
      <div class="col m12 m4">
        <div class="icon-block">
          <h1 class="left blue-text"><i class="material-icons">spellcheck</i></h1>
          <h5 class="left">Learning</h5>
          <br>
          <br>
          <p class="light">Technology has always been interesting to me, but I never knew exactly how to get involved.
            I was introduced to software development the summer going into my senior year of college. In a short time I was obsessed with learning everything from the fundamentals of Computer Science, to the nuances of web design.
          I decided that I wanted to make software development my career path, but I was about to graduate and it seemed to late. Luckily I found Dev Bootcamp where they taught the Full-Stack Web Development using <strong>Ruby-on-Rails</strong>, and more importantly gave me the ability to understand <i>new</i> technologies.</p>
        </div>
      </div>

      <div class="col m12 m4">
        <div class="icon-block">
          <h1 class="left blue-text m4"><i class="material-icons">perm_identity</i></h1>
          <h5 class="left">Background</h5>
          <br>
          <br>
          <p class="light">During high school I dedicated the majority of my free time interacting with and participating in the arts. As a guitar player, I was able to teach kids how to play, a truly rewarding experience.
            As an actor, I participated in many productions including the anti-bullying play <i>Bang Bang, Your Dead</i> which was performed at multiple schools. As a photographer, I have traveled the world and taken pictures of several of the natural wonders <small>(all pictures seen are my own)</small>.
            During college I studied Psychology where I learned to understand people and how they interact, a skill that I carry with me into the work place. I also developed leadership skills as the Brotherhood chair of the Kappa Delta Rho fraternity, where I learned to organize people in an effective meaningful way.</p>
        </div>
      </div>

      <div class="col m12 m4">
        <div class="icon-block">
          <h1 class="left blue-text"><i class="material-icons">language</i></h1>
          <h5 class="left">Aspirations</h5>
          <br>
          <br>
          <p class="light"> I am actively looking for my first position as a developer. I hope to find a company which values my interpersonal skills, hard work, and dedication, while cultivating my skills as a programmer.
             As a programmer I aspire to continue to stay in touch with the constantly evolving technology, and continue to develop my ability to impliment clean and concise code.
             Long term I hope to contribute to innovative and meaningful software which improves peoples lives in a measurable way. Some personal goals I have is to read at least 2 books a month, stay in shape, and to learn to play the violin.</p>
        </div>


      </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3 class="header col s12 light">"<strong>Innovation distinguishes between a leader and a follower.</strong>" -Steve Jobs</h3>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/grandcanyon.png" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h5>Contact</h5>
        <div class="icon-block">
          <h5 class="left blue-text icon"><i class="material-icons">email</i></h5>
          <h6 class="left">paul.r.duca@gmail.com</h6>
            <br>
            <br>
            <br>
            <br>
          <h5 class="left blue-text icon"><i class="material-icons">call</i></h5>
          <h6 class="left">732.284.6991</h6>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="section">
    <%= form_tag("/email", method: "post") do %>
      <%= label_tag(:email, "Your Email") %>
      <%= text_field_tag(:email) %>
      <%= submit_tag("Send Email") %>
    <% end %>
  </div>
  </div>

<!-- <div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"></div>
</div> -->

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
